@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hideScrollbar {
    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* Go top button animation */
  @keyframes showEffect {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes hideEffect {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }

  .animate-showEffect {
    animation: showEffect 0.3s forwards;
  }

  .animate-hideEffect {
    animation: hideEffect 0.3s forwards;
  }
  /* Go top button animation End  */
}

@layer utilities {
  .topCategories-btn {
    @apply border border-gray-300 rounded-md px-4 py-[6px] mx-2 cursor-pointer transition-all duration-300 w-auto mr-2 inline-block text-sm bg-white;
  }
}
