@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hideScrollbar {
    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer utilities {
  .topCategories-btn {
    @apply border border-gray-300 rounded-md px-4 py-[6px] mx-2 cursor-pointer transition-all duration-300 w-auto mr-3 inline-block text-sm bg-white;
  }
}
