

.mobile-nav {
  align-items: center;
  animation: slideup 0.3s ease-in 0s forwards;
  background-color: #f0f0f0;
  background-color: var(--whitegrey);
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.3s;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  .mobile-nav {
    padding: 0;
    width: 100%;
  }
}

.mobile-nav .nav-item {
  text-align: center;
  width: calc(20% - 1em);
}

@media screen and (max-width: 576px) {
  .mobile-nav .nav-item {
    display: flex;
  }
}

.mobile-nav .nav-item a {
  display: inline-block;
}

.mobile-nav .nav-item a i {
  color: #333;
  color: var(--black33);
  font-size: 1em;
}

.mobile-nav .nav-item a svg {
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .mobile-nav .nav-item a svg {
    height: 22px;
    width: auto;
  }

  .mobile-nav .nav-item a {
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
  }

  .mobile-nav .nav-item a:active {
    background-color: #33333326;
    background-color: var(--black33--15);
  }
}

.mobile-nav .nav-item a.active svg {
  fill: #000;
  fill: var(--black);
}

@media screen and (max-width: 576px) {
  .mobile-nav .nav-item a.post svg {
    height: 22px;
  }
}

.mobile-nav .nav-item .home svg {
  overflow: visible;
}

.mobile-nav .nav-item .home svg path {
  fill: rgba(0, 0, 0, 0);
  stroke: #000;
  stroke: var(--black);
}

.mobile-nav .nav-item .home.active svg path {
  stroke: rgba(0, 0, 0, 0);
  fill: #000;
  fill: var(--black);
}

@media screen and (max-width: 768px) {
  .mobile-nav {
    -ms-transform: translate(0);
    transform: translate(0);
  }
}

.mobile-nav .login--link {
  color: #333;
  color: var(--black33);
  font-size: 1.2em;
  opacity: 0.7;
}

.bottomNav {
  display: none;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .bottomNav {
    display: flex;
  }
}

.page-login .login--rt .form-login form .form-item input:not[type="checkbox"] {
  width: 100%;
}

:root {
  --color-page-background: #fff;
}

html {
  font-size: 16px;
  font-weight: 400 !important;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 15px;
  }
}

body {
  background-color: var(--white);
  font-family: Inter, sans-serif;
  padding: 0 !important;
}

@keyframes slideup {
  0% {
    bottom: -100px;
  }

  to {
    bottom: 0;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  color: #212529;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    Liberation Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

svg {
  vertical-align: middle;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:root {
  --primary: #0170b4;
  --secondary: #000;
  --tertiary: #d5dbdb;
  --light-teal: #f9f8f9;
  --light-primary: #e1efff;
  --bg-blue: rgba(1, 112, 180, 0.08);
  --hb-select: #39b54a;
  --light: #f4f4f4;
  --black: #000;
  --dark: #101010;
  --white: #fff;
  --red: #e80000;
  --green: #30ac07;
  --darkgrey: #5b5759;
  --whitegrey: #f0f0f0;
  --lightgreyorg: #f6f6f6;
  --lightgrey: #f4f4f478;
  --grey--f1: #f1f1f1;
  --black42: #424242;
  --black33: #333;
  --black33--05: #3333330d;
  --black33--10: #3333330f;
  --black33--15: #33333326;
  --black33--20: #33333330;
  --black33--30: #3333334d;
  --black33--50: #33333380;
  --black33--60: #33333399;
  --black33--80: #333333cc;
  --black--68: #000000ad;
  --black--80: #000000cc;
  --chat-bubble: #f4f5f7;
}

.card-product-linear-info .usernameAndSave .username:hover-fullname,
.card-product-linear-info .usernameAndSave .username:hover-listing {
  color: #0170b4;
  color: var(--primary);
}

@supports (-webkit-line-clamp: 2) {
}

@supports (-webkit-line-clamp: 2) {
}
